<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_20_01_DZ_authorization_dorofeeva.Properties.Settings.test_repoConnectionString"
            connectionString="Host=localhost;Database=test_repo;Username=postgres;Persist Security Info=True"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>